#import supybot.ircutils as irc
#import templateutils as utils
##
## doc: Template for rendering pre Release and Nuke objects as formatted strings.
##      Used by the (lastnuke) command
##  
## pre.Release:
##      $r.release      release name
##      $r.section      section 
##      $r.genre        genre
##      $r.files        number of files 
##      $r.size         size in MB
##      $r.time         datetime
##      $r.nukes        list of pre.Nuke objects
##      $r.last_nuke    most recent nuke or unnuke as a pre.Nuke object
##      $r.status       textual status of release, PRE/NUKE/UNNUKE
##
## pre.Nuke:
##      $nuke.isnuke     is currently nuked, false if unnuked
##      $nuke.ismodnuke  has the nuke reason been modified
##      $nuke.reason     reason the release was nuked
##      $nuke.network    network the release was nuked on
##      $nuke.time       datetime of the nuke status
##
## $irc.bold(s)        
##      * returns the string s, bolded.
##
## $irc.reverse(s)     
##      * returns the string s, with inverted forground and background colors.
##
## $irc.underline(s)   
##      * returns the string s, underlined.
##
## $irc.mircColor(s, fg=None, bg=None)
##      * returns the string s with the given mIRC color codes applied.
##      * see http://www.mirc.com/colors.html
##

#set $nuke = $r.last_nuke
#set $status = "Nuked" if $nuke.isnuke else "Unnuked"

[$irc.bold($r.status)/$r.section] $r.release [$utils.since($r.time)] [$irc.bold('F')$r.files/$r.size$irc.bold('MB')] [$r.time]
    $status on $nuke.time [$nuke.network], $nuke.reason